@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663519811709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e921";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-pen1:before {
  content: "\e631";
}

.icon-pen2:before {
  content: "\e824";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-gift:before {
  content: "\e6f9";
}

.icon-integral:before {
  content: "\e6fa";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-add:before {
  content: "\e742";
}

.icon-attachent:before {
  content: "\e745";
}

.icon-browse:before {
  content: "\e746";
}

.icon-calendar:before {
  content: "\e747";
}

.icon-close:before {
  content: "\e748";
}

.icon-conditions:before {
  content: "\e749";
}

.icon-ali-clould:before {
  content: "\e743";
}

.icon-customization:before {
  content: "\e74b";
}

.icon-discount:before {
  content: "\e74c";
}

.icon-email:before {
  content: "\e74f";
}

.icon-falling:before {
  content: "\e750";
}

.icon-mobile-phone:before {
  content: "\e759";
}

.icon-password:before {
  content: "\e75b";
}

.icon-Notvisible:before {
  content: "\e75a";
}

.icon-packaging:before {
  content: "\e75c";
}

.icon-viewgallery:before {
  content: "\e76c";
}

.icon-set:before {
  content: "\e76d";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-exchangerate:before {
  content: "\e772";
}

