.archive_wrapper .archive_header{
    font-size: 24px;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style:
    italic;
    align-items: center;
    color: var(--darkpurple);
    display: block;
    margin: 1rem 1rem;
}




.archive_wrapper .archive_header::before{
    content: "";
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out 0s;
    width: 0.9rem;
    height: 0.9rem;
    vertical-align: middle;
    left: -1rem;
    border: 0.2rem solid blueviolet;
    border-radius: 50%;
    background: white;
}


.archive_wrapper .archive_header::after{
    content: "";
    display: inline;
    position: relative;
    transition: all .2s ease-in-out 0s;
    top: 0.9rem;
    left: -3.9rem;
    padding: .6rem;
    border-left: .2rem dashed rgb(173, 110, 232);
}


article.archive_normal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: .625rem 1.875rem; */
    margin: 0 1rem;

}

article.archive_normal a::before{
    content: "";
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out 0s;
    width: .5rem;
    height: .5rem;
    vertical-align: middle;
    left: -.8rem;
    background: blueviolet;
    border-radius: 50%;
}


article.archive_normal h3.archive_time{
    font-size: 1rem;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(195, 195, 195);
    margin: 0;
    align-items: center;
    padding: .625rem 1.875rem;
}

article.archive_normal a {
    font-size: 15px;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(95, 95, 95);
    /* text-transform: uppercase; */
}


article.archive_normal::after{
    content: "";
    display: inline;
    position: relative;
    transition: all .2s ease-in-out 0s;
    border-left: .2rem dashed rgb(173, 110, 232);
}