@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
@import url(root.css);

* {
	padding: 0;
	margin: 0;
}

body {
	transition: all 0.5s ease;
	width: 100%;
	/* font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, sans-serif; */
}

/* Header */

header.header {
	display: block;
}

header.header .navbar {
	height: 4rem;
	line-height: 4rem;
	width: 100%;
	/* max-width: 1200px; */
	background-color: #00000000;
	position: fixed;
	z-index: 3;
}

header.header .navbar div.container {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	/* width: auto; */
	text-align: center;
}




nav.navbar div.container a {
	font-size: 1rem;
	font-weight: 400;
	color: #ecad9e;
	text-decoration: none;
	cursor: pointer;
}


nav.navbar div.container a:hover {
	color: var(--darkpurple);
}

nav.navbar div.container div.headerlogo a {
	font-size: 1.25rem;
	font-weight: bolder;
}

nav.navbar div.container div.menulist a {
	padding: 0 0.5rem 0 0.5rem;
}



/* dailypic */
section.dailypic {
	background-color: var(--brown);
	/* width: 100%; */
	/*seet it to the screen */
}

section.dailypic div.elementor-container {
	display: flex;
	/* flex-direction: column; */
	max-width: 1280px;
	min-height: 730px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	/* -webkit-box-align: center; */
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.dailypic div.elementor-container-left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: flex-start;
	margin: auto 5% auto 10%;
	width: 35%;
	min-width: 300px;
}



section.dailypic div.name {
	margin: 0 0 10px 0;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background: var(--orange);
}


section.dailypic div.name h2 {
	color: white;
	letter-spacing: 3px;
	font-size: 30px;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
}

section.dailypic div.elementor-container-left h1 {
	font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	color: var(--orange);
	letter-spacing: -2px;
}

section.dailypic div.links {
	margin: 1rem 0 0 0;
}

section.dailypic div.links a {
	color: #ecad9e;
	padding: 0 0.3rem;
	text-decoration: none;
}

section.dailypic div.links a i {
	font-size: 32px;
}

section.dailypic div.figure {
	display: flex;
	justify-content: center;
	width: 35%;
	margin: 0 15% 0 0;
}

section.dailypic div.figure img {
    /* position: relative; */
    width: 80%;
    display: inline-block;
    /* object-fit: cover; */
}



@media screen and ((aspect-ratio < 1/1)) {
	section.dailypic div.figure {
	    display: flex;
	    width: 50%;
	    margin: 0 2rem 2rem 0rem;
	    /* float: right; */
	    /* justify-content: flex-end; */
	    /* text-align: right; */
	    /* align-items: flex-end; */
	    justify-content: flex-end;
	}
	section.dailypic div.elementor-container {
		min-height: 600px;
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		/* -webkit-box-align: center; */
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	section.dailypic div.elementor-container-left {
		font-size: 1rem;
		margin: 5rem 50% 0 15%;
		flex-wrap: nowrap;
	}
	
	section.dailypic div.elementor-container-left h1 {
		font-size: 2rem;
	}
	
}

@media screen and ((aspect-ratio < 4/5)) {
	section.dailypic div.figure {
	    display: flex;
	    width: 50%;
	    margin: 0 2rem 2rem 0rem;
	    /* float: right; */
	    /* justify-content: flex-end; */
	    /* text-align: right; */
	    /* align-items: flex-end; */
	    justify-content: flex-end;
	}
	section.dailypic div.elementor-container {
		min-height: 600px;
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		/* -webkit-box-align: center; */
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	section.dailypic div.elementor-container-left {
		font-size: 1rem;
		margin: 5rem 50% 0 15%;
		flex-wrap: nowrap;
	}
	
	section.dailypic div.elementor-container-left h1 {
		font-size: 2rem;
	}
	
}



/* title */
#main{
	/* max-width: 1280px; */
	min-width: 420px;
	/* min-height: 730px; */
	background: #ffffff;
	/* display: flex; */
	/* flex-direction: row; */
}

#main div.head-line {
	text-align: center;
	padding: 120px 0 60px 0;
}

#main div.head-line h1 {
	font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	color: var(--orange);
	letter-spacing: 2px;
}



/* posts */
#main div.elementor-post {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
	margin: 2rem auto;
}

#main article.post {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin: 2rem auto;
	padding: 0;
	width: calc(50% - 3rem);
	height: 28rem;
	position: relative;
	opacity: 1;
}

#main article.post div.featured {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-radius: 12px;
	background: #ffffff;
	box-shadow: 0 0rem 1rem #afafaf26;
	overflow: hidden;
}

#main article.post div.photo-frame {
	display: flex;
	justify-content: center;
	align-items:
	center;
	flex-direction: column;
	height: 40%;
	
	}

#main article.post div.photo-frame:hover {
	transform: scale(1.02);
	transition: all 0.5s ease;
	
}


#main article.post div.thumbnail {
    /* display: flex; */
    position: relative;
}

#main article.post div.thumbnail {
	height: 48%;
	/* justify-content: center; */
	/* flex-direction: column; */
	/* box-sizing: border-box; */
	border-radius: 12px 12px 0 0;
	overflow: hidden;
}

#main article.post div.thumbnail a {
	object-fit: cover;
	height: 100%;
}
#main article.post img {
	position: relative;
	display: inline-block;
	height: auto;
	max-width: 100%;
	/* padding: 0 0 10rem 0; */
	object-fit: cover;
}



@media screen and ((aspect-ratio < 4/5)) {
	
	
}



/* times */
#main article.post div.times {
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	height: 20%;
}

#main article.post div.times span.date {
	font-size: 46px;
	font-weight: 200;
	font-family: Gabriola,"SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}







/* major */

#main article.post div.major {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: self-end;
	width: 85%;
	margin: 1rem 0 0 0;
}

#main article.post div.major h2{
	margin: 2rem 0 1rem 0;
	width: 100%;
}

#main article.post div.major h2 a{
	font-size: 24px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	/* text-overflow: ellipsis; */
	overflow: hidden;
	/* white-space: nowrap; */
	outline: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
}

#main article.post div.major p{
	margin: 0px 0 1rem 0;
	width: 100%;
	/* display: flex; */
	/* align-items: self-end; */
}

#main article.post div.major p a{
	overflow: hidden;
	max-height: 8rem;
	font-size: 16px;
	line-height: 1.6em;
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	margin: 0 0 1rem 0;
}

#main article.post div.major div.label {
	float: right;
	display: block;
	/* margin: 0.5rem 0; */
}

#main article.post div.major div.label i {
	font-size: 14px;
	color: #c2c2c2;
}



@media screen and ((aspect-ratio < 4/5)) {
	#main div.head-line h1 {
		font-size: 2rem;
	}

	#main article.post div.featured {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#main div.elementor-post {
		flex-direction: column;
		width: 80%;
	}

	#main div.elementor-post article.post {
		width: 90%;
		height: 24rem;
	}

	
	#main article.post div.photo-frame {
		width: 100%;
	}
	#main article.post div.major {
		width: calc(100% - 3rem);
		margin: 0;
	}
	#main article.post div.major p {
		margin: 0;
	}

	#main article.post div.major div.label i {
	    font-size: 14px;
	}





	
}


/* pagination */

#main ul.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	padding: 0 0rem 4rem 0rem;
}

#main ul.pagination li {
	padding: 0 1rem 0 1rem;

	
}

#main ul.pagination li div.point {
	background-color: #ffd59d;
	border: 7px solid #ffd59d;
	border-radius: 100%;
}

#main ul.pagination span.current div.point {
	background-color: var(--brown);
	border: 7px solid var(--brown);
}

/* footer */
footer.footer {
	background-color: var(--brown);
}
footer.footer div.footer{
	display: flex;
	/* max-width: 1280px; */
	min-height: 140px;
	justify-content: center;
	align-items: center;
	color: var(--orange);
}

footer.footer div.footer p{
	font-size: 14px;
	text-align: center;
	padding: 0.5rem 0 0rem 0;
}